.article-list {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);

    .article {
        display: flex;
        flex-direction: column;
        background-color: var(--card-background-color);
        border-radius: var(--card-radius);

        .article-wrapper {
            display: flex;
            flex-direction: column;
            padding: var(--card-padding);
            gap: var(--normal-column-gap);

            .article-title-wrapper {
                display: flex;
                flex-direction: column;
                padding-bottom: 0;

                .article-title {
                    font-size: 1.6rem;
                    margin: 0;

                    a {
                        color: var(--text-color1);
                    }
                }

                .article-subtile {
                    font-size: 1.4rem;
                    margin: 0;
                }
            }

            .article-meta {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                gap: var(--inline-gap);

                .article-time {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: var(--img-text-gap);

                    svg {
                        width: 16px;
                        height: 16px;
                    }

                    time {
                        font-size: 1.1rem;
                        color: var(--text-color2);
                    }
                }
            }
        }
    }
}

.nav {
    display: flex;
    margin-top: 30px;

    a {
        background: var(--card-background-color);
        border-radius: 0.5rem;
        padding-inline: 2rem;
        line-height: 3rem;
        color: var(--text-color1);
        text-decoration: none;
    }

    .nav-prev {
        margin-right: auto;
    }

    .nav-next {
        margin-left: auto;
    }
}
