.content {
    background-color: var(--card-background-color);
    border-radius: var(--card-radius);

    .article-title-wrapper {
        padding: var(--card-padding);
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        gap: var(--normal-column-gap);

        .article-title {
            font-size: 1.8rem;
            margin: 0;
            color: var(--text-color1);
        }

        .article-meta {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: var(--inline-gap);

            .article-time {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--img-text-gap);

                svg {
                    width: 16px;
                    height: 16px;
                }

                time {
                    font-size: 1.1rem;
                    color: var(--text-color2);
                }

            }
        }
    }

    .article {
        margin: var(--card-padding) 0;
        padding: 0 var(--card-padding);
        line-height: 1.85;
        color: var(--text-color1);

        a {
            color: var(--text-color3);
        }

        p > code {
            margin: 2px 4px;
            padding: 2px 6px;
            background-color: var(--code-bg);
            border-radius: 4px;
        }

        .chroma .lntable {
            display: block;
            overflow: auto;
        }

        .chroma pre, .chroma code {
            font-size: 0.9rem;
            font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-inline-start: calc(var(--card-padding) * -1);
            padding-inline-start: calc(var(--card-padding) - 4px);
            border-inline-start: 4px solid #909090;
        }

        img {
            display: block;
            max-width: 100%;
        }

        .table-wrapper table {
            display: table;
            empty-cells: show;
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
            margin-bottom: 1.5rem;

            thead {
                background-color: rgba(255, 255, 255, 0.1);

                th {
                    text-align: center;
                    padding: 1px 8px;
                    border: 1px solid var(--text-color1);
                }
            }

            td {
                text-align: center;
                padding: 1px 8px;
                border: 1px solid var(--text-color1);
            }
        }

        blockquote {
            padding: 0.5rem 1.5rem;
            border-left: 0.5rem;
            border-left-style: solid;
            margin: 1rem 0;
            background-color: rgba(#909090, 0.1);
            border-color: rgba(#909090, 0.6);
            color: var(--text-color2);

            p {
                margin: 0;
            }
        }
    }
}

.footer {
    margin: 30px;
    margin-top: 0;

    .copyright {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
        color: var(--text-color1);
        gap: var(--img-text-gap);

        svg {
            width: 20px;
            height: 20px;
        }
    }
}
