.notfound {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info-wrapper {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;

    h2 {
        color: var(--text-color1);
    }

    h3 {
        color: var(--text-color2);
    }

    a {
        color: var(--text-color3);
    }
}

.game-wrapper {
    width: 100%;
    line-height: 1.55;
    margin: 0 auto;
    max-width: 600px;
    margin-top: -80px;

    .controller {
        height: 100%;
        width: 100%;
    }

    .icon-offline {
        -webkit-user-select: none;
        user-select: none;
        content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIAQMAAABvIyEEAAAABlBMVEUAAABTU1OoaSf/AAAAAXRSTlMAQObYZgAAAGxJREFUeF7tyMEJwkAQRuFf5ipMKxYQiJ3Z2nSwrWwBA0+DQZcdxEOueaePp9+dQZFB7GpUcURSVU66yVNFj6LFICatThZB6r/ko/pbRpUgilY0Cbw5sNmb9txGXUKyuH7eV25x39DtJXUNPQGJtWFV+BT/QAAAAABJRU5ErkJggg==");
        position: relative;
    }

    .runner-container {
        height: 150px;
        width: 60px;
        max-width: 600px;
        overflow: hidden;
    }

    .runner-canvas {
        height: 150px;
        max-width: 600px;
        overflow: hidden;
        opacity: 1;
    }

    #offline-resources {
        display: none;
    }
}
