:root {
    --background-color: #1d1f21;
    --card-background-color: #282b2d;
    --card-radius: 10px;
    --card-padding: 20px;

    --section-gap: 30px;
    --inline-gap: 15px;
    --img-text-gap: 10px;
    --normal-column-gap: 15px;
    --article-meta-gap: 5px;

    --text-color1: rgba(255, 255, 255, 0.7);
    --text-color2: rgba(255, 255, 255, 0.5);
    --text-color3: rgba(255, 255, 255, 0.3);
    --code-bg: #44475a;

    @include min-width(m) {
        --card-padding: 30px;
        --section-gap: 40px
    }
}

