.widgets {
    position: sticky;
    top: 0;
    padding-left: 20px;
    gap: var(--section-gap);
    display: none;
    flex-direction: column;
    width: 30%;

    @include min-width(l) {
        display: flex;
    }
}

.widget-title-wrapper {
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;
    align-items: center;
    gap: var(--img-text-gap);

    .widget-title {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--text-color2);
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

.archives {
    display: flex;
    flex-direction: column;

    .archives-list {
        display: flex;
        flex-direction: column;
        gap: var(--normal-column-gap);

        .archives-year {
            background-color: var(--card-background-color);
            border-radius: var(--card-radius);

            a {
                font-size: 1.1rem;
                padding: 18px 25px;
                display: flex;

                .year {
                    flex: 1;
                    color: var(--text-color2);
                    font-weight: 700;
                }

                .count {
                    color: var(--text-color3);
                }
            }
        }
    }
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--inline-gap);

    a {
        background: var(--card-background-color);
        border-radius: 4px;
        padding: 8px 20px;
        color: var(--text-color2);
        font-size: 1.2rem;
    }
}

.toc {
    top: 20px;
    position: sticky;
}

.toc-list {
    background-color: var(--card-background-color);
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    line-height: 2;
    max-height: 500px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar {
        background-color: #1a1c1d;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #373b3e;
    }

    a {
        color: var(--text-color1);
    }

    ul, li {
        color: var(--text-color1);
    }
}

.search {
    display: flex;

    div {
        width: 100%;
        input {
            background-color: var(--card-background-color);
            width: 100%;
            padding: 24px 20px;
            border-radius: var(--card-radius);
            border: 0;
        }

        button {
            width: 20px;
            height: 20px;
            background: transparent;
            border: 0;
            position: absolute;
            inset-inline-end: 24px;
            top: 20px;
            cursor: pointer;
        }
    }
}
