.article-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

article {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    border-radius: 10px;
    overflow: hidden;
}

.article-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
}

.article-title {
    font-size: 1.6rem;
    margin: 0;
}

.article-subtitle {
    font-size: 1.4rem;
    margin: 0;
    color: var(--text-color2);
    line-height: 1.5;
}

.article a {
    text-decoration: none;
    color: var(--text-color1);
}

.article-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.article-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.article-time svg {
    width: 16px;
    height: 16px;
}

.article-time time {
    font-size: 0.9rem;
    color: var(--text-color3);
}
