.article-list {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
}

article {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    border-radius: var(--card-radius);
    overflow: hidden;
}

.article-wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    gap: var(--normal-column-gap);
}

.article-title {
    font-size: 1.6rem;
    margin: 0;
}

.article-subtitle {
    font-size: 1.4rem;
    margin: 0;
    color: var(--text-color2);
    line-height: 1.5;
}

.article a {
    text-decoration: none;
    color: var(--text-color1);
}
