<article class="article">
    <!-- title and description -->
    <div class="article-wrapper">
        <h2 class="article-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div class="article-meta">
            <!-- date -->
            <div class="article-time">
                {{ partial "icons" "calendar" }}
                <time>{{ .Date | time.Format "2006-01-02" }}</time>
            </div>

            {{ if ne .Lastmod .Date }}
                <div class="article-time">
                    {{ partial "icons" "mod" }}
                    <time>{{ .Lastmod | time.Format "2006-01-02" }}</time>
                </div>
            {{ end }}

            <!-- translate -->
            {{ if .IsTranslated }}
                {{ range .Translations }}
                    <div class="article-translations">
                        {{ partial "icons" "translations" }}
                        <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</article>
