<header class="site-header">
    <div class="logo">
        {{ partial "icons" "fox" }}
        <a href="{{ .Site.BaseURL | relLangURL }}">moefox</a>
    </div>

    <div id="toggle-menu">
        {{ partial "icons" "menu" }}
    </div>

    {{ $search_page := index (where .Site.Pages "Layout" "==" "search") 0 }}
    <div class="search-wrap">
        <form action="{{ $search_page.RelPermalink }}" class="search" {{ with .OutputFormats.Get "json" }}data-json="{{ .RelPermalink }}" {{ end }} type="search">
                <input name="keyword" required placeholder="     " />
                <button title="Search">
                    {{ partial "icons" "search" }}
                </button>
        </form>
    </div>
</header>